header {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  align-items: center;
}

h1 {
  display: inline-block;
  vertical-align: middle;
}

nav {
  display: inline-block;
  vertical-align: middle;
}

ul {
  list-style: none;
  display: flex;
}

li.icon {
  flex-basis: 25%;
}

header {
  background: cadetblue;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

a:hover {
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}