//변수명지정(색상,폰트사이즈,그리드사이즈)
$icon-color : #333333;

$background-color : #eeeeee;

$point-color : #b7a58b;



$naver-logo-color : #a28f79;

$default-padding : 1.5rem;

$default-width: 1130px;

$default-border: 1px solid #cccccc;

$default-box-shadow:1px 1px 4px -0.5px #cccccc;

$margin-top : 57px;